USE [OpenCityCargo]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 25.08.2018 23:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROp TABLE [dbo].[locations]
DROp TABLE [dbo].[locations_vehicles]
DROp TABLE [dbo].vehicles

CREATE TABLE [dbo].[locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Location] [geography] NULL,
	[what3words] [nvarchar](255) NULL,
	[type] [nvarchar](30) NULL,
	[status] [nvarchar](30) NULL,
	[packetWeight] [nvarchar](30) NULL,
	[dimension] [nvarchar](100) NULL,
	[FK_VehicleId] [int] NULL,
 CONSTRAINT [PK_locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[locations_vehicles]    Script Date: 25.08.2018 23:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations_vehicles](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](256) NULL,
		gps nvarchar(255),
	[Location] [geography] NULL,
	[what3words] [nvarchar](255) NULL,
	[type] [nvarchar](30) NULL,
	[status] [nvarchar](30) NULL,
	[packetWeight] [nvarchar](30) NULL,
	[dimension] [nvarchar](100) NULL,
	[FK_VehicleId] [int] NULL,
	[vehiclename] [nvarchar](256) NULL,
	[vehicletype] [nvarchar](256) NULL,
	[co2] [nvarchar](256) NULL,
	[noise] [nvarchar](256) NULL,
	[vehicledimension] [nvarchar](100) NULL,
	[person] [nvarchar](100) NULL,
	[img] [varbinary](max) NULL,
	url nvarchar(255)

)

GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 25.08.2018 23:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[type] [nvarchar](256) NULL,
	[co2] [nvarchar](256) NULL,
	[noise] [nvarchar](256) NULL,
	[dimension] [nvarchar](100) NULL,
	[person] [nvarchar](100) NULL,
	[img] [varbinary](max) NULL,
 CONSTRAINT [PK_vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[locations] ON 

GO
INSERT [dbo].[locations] ([Id], [Name], [Location], [what3words], [type], [status], [packetWeight], [dimension], [FK_VehicleId]) VALUES (1, N'Hans Huber', 0xE6100000010CD15CA791967847400377A04E79B41D40, N'biegen.stein.muscheln', N'flat', N'delivery', N'1 kg', N'10x15x10', 1)
GO
INSERT [dbo].[locations] ([Id], [Name], [Location], [what3words], [type], [status], [packetWeight], [dimension], [FK_VehicleId]) VALUES (2, N'Iris BFH Marzili', 0xE6100000010CEA20AF0793784740C286A757CAC21D40, N'laune.ausruhen.baut', N'flat', N'delivery', N'1 kg', N'10x15x10', 1)
GO
INSERT [dbo].[locations] ([Id], [Name], [Location], [what3words], [type], [status], [packetWeight], [dimension], [FK_VehicleId]) VALUES (3, N'Heidi, Bärenplatz', 0xE6100000010C2F52280B5F794740444FCAA486D61D40, N'tägliche.werk.meinten', N'person', N'delivery', N'10 kg', N'10x150x100', 3)
GO
SET IDENTITY_INSERT [dbo].[locations] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicles] ON 

GO
SET IDENTITY_INSERT [dbo].[vehicles] OFF
GO
ALTER TABLE [dbo].[locations]  WITH CHECK ADD  CONSTRAINT [FK_VehicleId] FOREIGN KEY([FK_VehicleId])
REFERENCES [dbo].[vehicles] ([Id])
GO
ALTER TABLE [dbo].[locations] CHECK CONSTRAINT [FK_VehicleId]
GO
